<div class="container">
    <div class="row">
        <div class="col-md-12">
             <h4> Employment history </h4>
             <h5> Current employer </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">{{mdl-input id="companyName" label="Company name" }}</div>
        <div class="col-md-4">{{mdl-input id="employerPhone" label="Employer's phone" }}</div>
        <div class="col-md-4">{{mdl-input id="monthlyPay" label="Monthly pay" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{mdl-input id="occupation" label="Occupation" }}</div>
        <div class="col-md-4">{{mdl-input id="dateOfEmployment" label="Date of employment" }}</div>
    </div>
    <div class="row">
        <div class="col-md-4">{{mdl-input id="employerAddress" label="Employer's address" }}</div>
        <div class="col-md-4">{{mdl-input id="nameOfSupervisor" label="Name of supervisor" }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <h4> General Information </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">Have you ever been late or deliquent on rent?</div>
        <div class="col-md-3">{{mdl-checkbox id="chkLateYes" label="Yes" }}</div>
        <div class="col-md-3">{{mdl-checkbox id="chkLateNo" label="No" }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Have you ever been evicted?</div>
        <div class="col-md-3">{{mdl-checkbox id="chkEvkYes" label="Yes" }}</div>
        <div class="col-md-3">{{mdl-checkbox id="chkEvkNo" label="No" }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Have you ever filed for bankruptcy?</div>
        <div class="col-md-3">{{mdl-checkbox id="chkBankYes" label="Yes" }}</div>
        <div class="col-md-3">{{mdl-checkbox id="chkBankNo" label="No" }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Have you ever been party to a lawsuit?</div>
        <div class="col-md-3">{{mdl-checkbox id="chkLawYes" label="Yes" }}</div>
        <div class="col-md-3">{{mdl-checkbox id="chkLawNo" label="No" }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Have you ever been convicted of a felony?</div>
        <div class="col-md-3">{{mdl-checkbox id="chkFelYes" label="Yes" }}</div>
        <div class="col-md-3">{{mdl-checkbox id="chkFelNo" label="No" }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{mdl-textarea id="reasonFelo" label="If yes to any of the above, please explain why." }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Do you smoke?</div>
        <div class="col-md-3">{{mdl-checkbox id="chkSmokeYes" label="Yes" }}</div>
        <div class="col-md-3">{{mdl-checkbox id="chkSmokeNo" label="No" }}</div>
    </div>
    <div class="row">
        <div class="col-md-6">Do you have any pets?</div>
        <div class="col-md-3">{{mdl-checkbox id="chkPetsYes" label="Yes" }}</div>
        <div class="col-md-3">{{mdl-checkbox id="chkPetsNo" label="No" }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{mdl-textarea id="explainPets" label="If yes, list type, breed, weight, and age." rows="1" }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{mdl-textarea id="explainMovingReason" label="If yes, list type, breed, weight, and age." rows="1" }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">{{mdl-textarea id="explainBckCheck" label="Is there anything negative in your credit or background check you want to comment on?"}}</div>
    </div>
    <div class="row">
        <div class="col-md-3">Rental application fee:</div>
        <div class="col-md-3">{{mdl-input id="appFee" label="$" }}</div>
        <div class="col-md-6">{{mdl-checkbox id="chkPaid" label="Paid" }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <h4> Additional questions: </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">{{mdl-textarea id="addQuestions" label="Additional questions" rows="3" }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">
             <h4> Agreement & Authorization </h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            By signing this application, I verify that the statements in this application are true and correct. I authorize the use of the
            information and contacts provided to complete a credit, reference, and/or background check. I understand that false or
            lack of information may result in the rejection of this application.
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">{{mdl-input id="signature" label="Signature of applicant" }}</div>
        <div class="col-md-4">{{mdl-input id="signatureDate" label="Date" }}</div>
    </div>
</div>
