<div class="container">
      <div class="row">
            <div class="col-md-12">
                  <h4> Employment history </h4>
                  <h5> Current employer </h5>
            </div>
      </div>
      <div class="row">
            <div class="col-md-4">{{mdl-input id="companyName" label="Company name" }}</div>
            <div class="col-md-4">{{mdl-input id="employerPhone" label="Employer's phone" }}</div>
            <div class="col-md-4">{{mdl-input id="monthlyPay" label="Monthly pay" }}</div>
      </div>
      <div class="row">
            <div class="col-md-4">{{mdl-input id="occupation" label="Occupation" }}</div>
            <div class="col-md-4">{{mdl-input id="dateOfEmployment" label="Date of employment" }}</div>
      </div>
      <div class="row">
            <div class="col-md-4">{{mdl-input id="employerAddress" label="Employer's address" }}</div>
            <div class="col-md-4">{{mdl-input id="nameOfSupervisor" label="Name of supervisor" }}</div>
      </div>

      <div class="row">
            <div class="col-md-12">
                  <h4> General Information </h4>
            </div>
      </div>

      <div class="row">
            <div class="col-md-12">
                  <h6>Have you ever been late or deliquent on rent?</h6>
                  {{select-2
                      content=yesNo
                      value=lateOnRent
                      optionValuePath="value"
                      placeholder="Select one..."
                  }}
            </div>
      </div>
</div>      