<!-- Simple Textfield -->
<div class="container">
  <div class="row">
        <div class="col-md-12">
              <h3 class="document-title text-center">Rental Application: Cover Sheet </h3>
        </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div>
        Thank you for downloading the Zillow Rental Application. Before you save or print this
        application:
      </div>
      <ul>
        <li>The cover sheet is for landlord use and can be removed when sent to renters.</li>
        <li>Have each adult applicant (18 or older) fill out a separate application.</li>
        <li>This application can be emailed and completed on the computer.</li>
        <li>Need to add more questions? Edit the “Additional questions” section on page two to
            personalize the application. Make sure you save any changes before sending.</li>
      </ul>
      <div>
        For more tools and checklists, be sure to visit the resources center.
      </div>
      <strong>Disclaimer: This is a general rental application provided for informational purposes only.
              Zillow Group, Inc. does not make any guarantees as to the sufficiency of the questions
              included in this rental application or their compliance with applicable laws. This resource is
              not a substitute for the advice or services of an attorney; you should not rely on this resource
              for any purpose without consultation with a licensed attorney in your jurisdiction.
      </strong>
    </div>
  </div>
  <div class="row">
        <div class="col-md-12">
              <h4>Applicant Information</h4>
        </div>
  </div>
  <div class="row">
    <div class="col-md-4">{{mdl-input id="firstName" label="First name" }}</div>
    <div class="col-md-4">{{mdl-input id="MiddleName" label="Middle name" }}</div>
    <div class="col-md-4">{{mdl-input id="lastName" label="Last name" }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">{{mdl-input id="birthDate" label="Birth date" }}</div>
    <div class="col-md-4">{{mdl-input id="socialSecurity" label="Social security #" }}</div>
    <div class="col-md-4">{{mdl-input id="emailAddress" label="Email address" }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">{{mdl-input id="homePhone" label="Home phone" }}</div>
    <div class="col-md-4">{{mdl-input id="cellPhone" label="Cell phone" }}</div>
    <div class="col-md-4">{{mdl-input id="driversLicense" label="Driver's license" }}</div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <h4>Rental History</h4>
        <h5> Current residence </h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">{{mdl-input id="address1" label="Address" }}</div>
    <div class="col-md-4">{{mdl-input id="city1" label="City" }}</div>
    <div class="col-md-4">{{mdl-input id="state1" label="State" }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">{{mdl-input id="zip1" label="ZIP" }}</div>
    <div class="col-md-4">{{mdl-input id="rent" label="Monthly rent" }}</div>
    <div class="col-md-4">{{mdl-input id="residencyDates" label="Dates of residency (From/To)" }}</div>
  </div>
  <div class="row">
    <div class="col-md-4">{{mdl-input id="reasonMoving" label="Reason for moving" }}</div>
    <div class="col-md-4">{{mdl-input id="ownerName" label="Owner/Manager’s name" }}</div>
    <div class="col-md-4">{{mdl-input id="ownerPhoneNumber" label="Phone number" }}</div>
  </div>
</div>
